<h1> tic tac toe></h1>
<div *ngIf="isHumanTurn" class="big">Your Turn</div>
<div class="box">
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile
      *ngFor="let tile of tiles; let i=index"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
      (click)="setMove(i)">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>
</div>
<div *ngIf="isHumanWinner" class="big">You are Winner!</div>
<div *ngIf="isComputerWinner" class="big">computer won</div>